In [3]:
list = [434324, 343242, "dsadasda", 42131]

In [5]:
list.count(434324) #starts from 1

1

## Slicing

In [9]:
a = [22, 33, 44, 11, 77, 88, 99, 111, 222, 3333, 444, 555, 666]

In [7]:
a[1:4]

[33, 44, 11]

In [8]:
#slicing with stepping

In [10]:
a[2:7:2]

[44, 77, 99]

## Tupples - different from lists in that its values cannot be changed

In [11]:
t = ('thisguy', 2312, "yes") #called packing

In [13]:
a, b,c = t #unpacking
print(a, b, c)

thisguy 2312 yes

In [14]:
type(t)

tuple

## loopings

In [17]:
student = ["zohaib", "alwaz", "thisguy", "that guy"]

In [19]:
for i in student:
    print(i)

zohaib
alwaz
thisguy
that guy

In [21]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [5]:
for i in range(10, 0, -1): #for reverse
    print(i)

10
9
8
7
6
5
4
3
2
1

In [10]:
def table(a):
    for i in range(1,11):
        print(a*i)
table(int(input("enter the number:")))

enter the number:5
5
10
15
20
25
30
35
40
45
50

In [11]:
# break terminates the loop
# continue terminates one iteration

In [12]:
# table with range
def table(x, y, z):
    for i in range(y, z):
        print(f"{x}*{i} = {x*i}")

x = int(input("Enter the number of table:"))
y = int(input("from where?"))
z = int(input("to where?")) + 1
table(x, y, z)

Enter the number of table:5
from where?1
to where?5
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25

## Nested for loop

In [14]:
first_name = ["zohaib", "arfeen", "ali"]
last_name = ["ahsan", "khan", "haider"]
full_name = []
for i in first_name:
    for j in last_name:
        full_name.append(i + " " + j)
        break
full_name

['zohaib ahsan', 'arfeen ahsan', 'ali ahsan']