In [1]:
print("aa")

aa

In [2]:
print(b)

NameError: name 'b' is not defined

In [3]:
b = input("input")
print(b)

inputE
E

In [1]:
print("this is aaa" + 231231 + 31231.2342433)

TypeError: can only concatenate str (not "int") to str

In [2]:
print("tersadsada", 3243242, 325235.3424)

tersadsada 3243242 325235.3424

In [3]:
print("sadasd" + "aasdasd")

sadasdaasdasd

In [4]:
print("sadasda", 3123123, sep= '*')

sadasda*3123123

In [5]:
print("first value", "second value", sep='v')

first valuevsecond value

In [6]:
print(2+5)

7

In [7]:
print()

In [8]:
print("eee", end="")

eee

In [9]:
print("hello",656,sep='u')

hellou656

In [10]:
print("hello piaic","hghfh",8777)

hello piaic hghfh 8777

In [11]:
print("hello piaic","hghfh",8777, end='*')

hello piaic hghfh 8777*

In [12]:
print("jhjh", end='\n\n')
print("jjyhgg",end='\n\n')
print("ygfff",end='\n\n')

jhjh

jjyhgg

ygfff

In [13]:
print(4+7)

11

In [14]:
print(str(3)+"hello")

3hello

In [15]:
print("dsadas" - "s")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [16]:
print(2+int("100"))

102

In [27]:
name="khan"
age=7
print("my name is {1} and age is {0}".format(name,age))

my name is 7 and age is khan

In [28]:
print(f"my name  is {name} and age is {age}")

my name  is khan and age is 7

In [30]:
print("zap"*5)

zapzapzapzapzap

In [31]:
print("hello"*3.5)

TypeError: can't multiply sequence by non-int of type 'float'

In [37]:
a=10
b=4
c=a/b
print(c)
round(c,1)

2.5

2.5